<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 
 <form action="/team" method="POST">
  <label for="user_name">Team name:</label>
  <p><input type="text" name="name" id="user_name" /></p>
  
  <label for="user_name">Coach:</label>
  <p><input type="text" name="coach" id="user_name" /></p>
  
  <label for="user_name">Point Guard:</label>
  <p><input type="text" name="pg" id="user_name" /></p>
  
  <label for="user_name">Shooting Guard:</label>
  <p><input type="text" name="sg" id="user_name" /></p>
  
  <label for="user_name">Power Forward:</label>
  <p><input type="text" name="pf" id="user_name" /></p>
  
  <label for="user_name">Small Forward:</label>
  <p><input type="text" name="sf" id="user_name" /></p>
  
  <label for="user_name">Center:</label>
  <p><input type="text" name="c" id="user_name" /></p>
 
  <input type="submit" value="Submit"/>
</form>
 <body>
 </body>
</html>

